{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
  <img src="https://cdn.discordapp.com/attachments/1101973706957410346/1102220456146243737/Udlish_2.png" width="100" height="600" alt="My Image"class="center">

  <h1 align="center">Post Something!</h1>
  <ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
      {{ note.data }}
      <button type="button" class="close" onClick="deleteNote({{ note.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
  </ul>
  <form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Add Post</button>
    </div>
  </form>
  <img src="https://media.discordapp.net/attachments/1101973706957410346/1102229581563437147/Meal_2.png" width="365" height="600" alt="My Image">
  <img src="https://cdn.discordapp.com/attachments/1101973706957410346/1102231448020324422/Meal_3.png" width="365" height="600" alt="My Image">
  <img src="https://cdn.discordapp.com/attachments/1101973706957410346/1102228357128663120/Meal_1.png" width="365" height="600" alt="My Image">

  {% endblock %}